@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-family-art1: "Orbitron", sans-serif;
$font-family-art2: "Roboto", sans-serif;
$gray-background-color: #dbdbdb;
//$black-background-color: #222222;
$black-background-color: black;
$border-color: #fff;

@mixin column-flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin column-flex-direction-left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

@mixin row-flex-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-border-for-section {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

@mixin blue-border-for-section {
  border: 0.5rem solid #039be5;
  border-radius: 0.3rem;
  @include box-adjustment();
}

@mixin headline-button-properties {
  border: 0.1rem solid white;
  background-color: #222222;
  /*color: #81d4fa;*/
  color: #80d8ff;
  border-radius: 0.3rem;
}

@mixin headline-button-hover-properties {
  background-color: white;
  border-color: black;
}

@mixin project-button-properties {
  border: 1px solid #222222;
  background-color: #f3f5f6;
  /*color: #81d4fa;*/
  color: #006db5;
  border-radius: 0.3rem;
}

@mixin project-button-hover-properties {
  background-color: #006db5;
  border-color: white;
  color: white;
}

@mixin box-adjustment() {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: $font-family-art2;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.head-section {
  @include column-flex-direction();
  padding: 3rem 3% 0 3%;
  background-color: #f3f5f6;

  &__headline-div {
    width: 100%;
    display: flex;
    align-items: center;

    &--logo {
      width: 8rem;
      height: auto;
      border-radius: 0.5rem;
      margin-left: 25%;
    }

    &--headline {
      margin: 0 auto 0 5%;
      font-size: 3rem;
    }
  }

  &__developer-div {
    @include gray-border-for-section();
    display: flex;
    align-items: center;
    margin: 3rem 3%;
    /*background-color: #f3f5f6;*/
    background-color: white;

    &--description-div {
      width: 50%;
      @include column-flex-direction-left-side();

      &--headline {
        font-size: 1.7rem;
        text-align: left;
        margin-left: 30%;

        &--focus-text {
          font-size: 2rem;
        }
      }

      &--text {
        text-align: left;
        margin-left: 30%;
        font-size: 1.3rem;
      }

      &--link {
        margin-left: 30%;
        width: 13rem;

        &--button {
          font-size: 1.1rem;
          @include headline-button-properties();
          @include center-content();
          width: 100%;
          padding: 0.7rem 0;

          &--icon {
            width: 1.3rem;
            height: auto;
          }
        }

        &--button:hover {
          @include headline-button-hover-properties();
        }
      }
    }

    &--portrait-container {
      width: 50%;
      height: 100%;
      padding: 1rem 0 1rem 7%;
      text-align: left;

      &--img {
        @include gray-border-for-section();
        width: 17rem;
        height: auto;
      }
    }
  }
}

.project-section {
  border-radius: 0;
  padding: 3rem 1% 0 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding-bottom: 1rem;
  /*background-color: #000003;*/
  background-color: #111111;

  &__headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: white;
  }

  &__text {
    color: #e0e0e0;
    font-size: 1.5rem;
  }

  &__project-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 5rem 0 3rem 0;
    color: white;

    &--top-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      &--italiener-div {
        @include column-flex-direction();
        @include blue-border-for-section();
        border-color: #006db5;
        background-color: #e0e0e0;
        border-width: 0.3rem;
        padding: 1rem;
        width: 37rem;

        &--headline {
          font-size: 1.5rem;
          color: black;
          margin: 1rem 0 2rem 0;
        }

        &--img-div {
          @include row-flex-direction();
          column-gap: 0.7rem;
          margin: 1rem 1% 0 1%;

          &--img {
            width: auto;
            height: 20rem;
            border-radius: 0.1rem;
          }
        }

        &--description-div {
          @include column-flex-direction-left-side();
          width: 100%;
          color: black;

          &--text {
            font-size: 1rem;
            text-align: left;
          }

          &--description-point-div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            column-gap: 0.5rem;
            margin-top: 0.5rem;
            padding: 1rem 0;

            &--single-point {
              background-color: #808080;
              border-radius: 0.5rem;
              padding: 0.1rem 0.5rem;
              font-size: 0.8rem;
              color: white;
            }
          }
        }

        &--link-div {
          @include center-content();
          column-gap: 2rem;
          width: 100%;

          &--link {
            margin: 1rem 0;
            width: 10rem;
            height: 3rem;

            &--button {
              width: 100%;
              padding: 0.5rem 0;
              @include project-button-properties();
              font-size: 1rem;
              @include center-content();
            }

            &--button:hover {
              @include project-button-hover-properties();
            }
          }
        }
      }

      &--note-app-div {
        @include column-flex-direction();
        @include blue-border-for-section();
        border-color: #006db5;
        background-color: #e0e0e0;
        border-width: 0.3rem;
        padding: 1rem;
        width: 35rem;

        &--headline {
          font-size: 1.5rem;
          color: black;
          margin: 1rem 0 2rem 0;
        }

        &--img-div {
          @include row-flex-direction();
          column-gap: 1rem;
          margin-top: 1rem;

          &--img {
            width: auto;
            height: 20rem;
            border-radius: 0.1rem;
          }
        }

        &--description-div {
          @include column-flex-direction-left-side();
          width: 100%;
          color: black;

          &--text {
            font-size: 1rem;
            text-align: left;
          }

          &--description-point-div {
            @include column-flex-direction-left-side();
            width: 100%;
            row-gap: 0.5rem;
            margin-top: 2rem;

            &--description-top,
            &--description-bottom {
              display: flex;
              justify-content: space-around;
              align-items: center;
              column-gap: 0.5rem;

              &--single-point {
                background-color: #808080;
                border-radius: 0.5rem;
                padding: 0.1rem 0.5rem;
                font-size: 0.8rem;
                color: white;
              }
            }
          }
        }

        &--link-div {
          @include center-content();
          column-gap: 2rem;
          width: 100%;

          &--link {
            margin: 1rem 0;
            width: 10rem;
            height: 2rem;

            &--button {
              @include project-button-properties();
              font-size: 1rem;
              width: 100%;
              padding: 0.5rem 0;
              @include center-content();
            }

            &--button:hover {
              @include project-button-hover-properties();
            }
          }
        }
      }
    }

    &--bottom-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      &--online-shop-div {
        @include column-flex-direction();
        @include blue-border-for-section();
        border-color: #006db5;
        background-color: #e0e0e0;
        border-width: 0.3rem;
        padding: 1rem;
        width: 37rem;

        &--headline {
          font-size: 1.5rem;
          color: black;
          margin: 1rem 0 2rem 0;
        }

        &--img-div {
          margin-top: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          gap: 1rem;

          &--img {
            width: 95%;
            height: auto;
            border-radius: 0.1rem;
          }
        }

        &--description-div {
          @include column-flex-direction-left-side();
          width: 100%;
          color: black;
          margin-top: 6rem;

          &--text {
            font-size: 1rem;
            text-align: left;
          }

          &--description-point-div {
            @include column-flex-direction-left-side();
            width: 100%;
            row-gap: 0.5rem;
            margin-top: 2rem;

            &--description-top,
            &--description-bottom {
              display: flex;
              justify-content: space-around;
              align-items: center;
              column-gap: 0.5rem;

              &--single-point {
                background-color: #808080;
                border-radius: 0.5rem;
                padding: 0.1rem 0.5rem;
                font-size: 0.8rem;
                color: white;
              }
            }
          }
        }

        &--link-div {
          @include center-content();
          column-gap: 2rem;
          width: 100%;

          &--link {
            margin: 1rem 0;
            width: 10rem;
            height: 2rem;

            &--button {
              @include project-button-properties();
              font-size: 1rem;
              width: 100%;
              padding: 0.5rem 0;
              @include center-content();
            }

            &--button:hover {
              @include project-button-hover-properties();
            }
          }
        }
      }

      &--crm-program-div {
        @include column-flex-direction();
        @include blue-border-for-section();
        border-color: #006db5;
        background-color: #e0e0e0;
        border-width: 0.3rem;
        padding: 1rem;
        width: 35rem;

        &--headline {
          font-size: 1.5rem;
          color: black;
          margin: 1rem 0 2rem 0;
        }

        &--img-div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 1rem;

          &--img {
            width: 100%;
            height: auto;
            border-radius: 0.1rem;
          }
        }

        &--description-div {
          @include column-flex-direction-left-side();
          width: 100%;
          color: black;

          &--text {
            font-size: 1rem;
            text-align: left;
          }

          &--description-point-div {
            @include column-flex-direction-left-side();
            width: 100%;
            row-gap: 0.5rem;
            margin-top: 2rem;

            &--description-top,
            &--description-bottom {
              display: flex;
              justify-content: space-around;
              align-items: center;
              column-gap: 0.5rem;

              &--single-point {
                background-color: #808080;
                border-radius: 0.5rem;
                padding: 0.1rem 0.5rem;
                font-size: 0.8rem;
                color: white;
              }
            }
          }
        }

        &--link-div {
          @include center-content();
          column-gap: 2rem;
          width: 100%;

          &--link {
            margin: 1rem 0;
            width: 10rem;
            height: 2rem;

            &--button {
              @include project-button-properties();
              font-size: 1rem;
              width: 100%;
              padding: 0.5rem 0;
              @include center-content();
            }

            &--button:hover {
              @include project-button-hover-properties();
              text-decoration: none;
            }
          }

          &--link:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.technology-section {
  @include column-flex-direction();
  border-radius: 0;
  background-color: #f3f5f6;
  padding: 3rem 5%;

  &__headline {
    font-size: 2rem;
  }

  &__technology-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
    padding: 3rem 9.5% 3rem 0;
    width: 100%;
    @include gray-border-for-section();
    row-gap: 1rem;
    background-color: white;

    &--markup-language-div {
      @include column-flex-direction();

      &--headline {
        font-size: 1.5rem;
      }

      &--subdivision-div {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        &--html-div,
        &--css-div,
        &--scss-div {
          @include column-flex-direction();

          span {
            font-size: 1.4rem;
          }

          &--img {
            width: 8rem;
            height: 8rem;
          }
        }
      }
    }

    &--programming-language-div {
      @include column-flex-direction();

      &--headline {
        font-size: 1.5rem;
      }

      &--subdivision-div {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        &--javascript-div,
        &--typescript-div {
          @include column-flex-direction();

          span {
            font-size: 1.4rem;
          }

          &--img {
            width: 8rem;
            height: 8rem;
          }
        }
      }
    }

    &--framework-div {
      @include column-flex-direction();

      &--headline {
        font-size: 1.5rem;
      }

      &--react-div {
        @include column-flex-direction();

        span {
          font-size: 1.4rem;
        }

        &--img-div {
          display: flex;
          align-items: center;

          &--img {
            width: 8rem;
            height: 8rem;
          }
        }
      }
    }

    &--extra-div {
      @include column-flex-direction();

      &--headline {
        font-size: 1.5rem;
      }

      &--git-div {
        @include column-flex-direction();

        span {
          font-size: 1.4rem;
        }

        &--img-div {
          display: flex;
          align-items: center;

          &--img {
            width: 8rem;
            height: 8rem;
          }
        }
      }
    }
  }
}

.contact-section {
  @include column-flex-direction();
  background-color: #111111;
  border-radius: 0;
  padding: 0 5% 3rem 5%;
  color: white;

  &__headline {
    font-size: 2rem;
    color: white;
    margin-top: 3rem;
  }

  &__contact-div {
    @include column-flex-direction-left-side();
    @include blue-border-for-section();
    width: 100%;
    margin: 3rem 0;
    padding: 3rem 0;

    &--headline {
      font-size: 1.5rem;
      margin: 1rem 0 0 5%;
      color: white;
    }

    &--text {
      margin: 3rem 0 0 5%;
      color: white;
      font-size: 1.3rem;
    }

    &--mail-address {
      margin: 1rem 0 1rem 5%;
      color: white;
      font-size: 1.3rem;
      display: flex;
      align-items: center;

      &--icon {
        width: 1.5rem;
        height: auto;
        margin-right: 1rem;
      }
    }
  }

  &__to-top {
    font-size: 1.3rem;
  }
}

.button:hover {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.no-underline:hover {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
