@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/*@mixin headline-button-properties {
  border: 0.1rem solid white;
  background-color: #222222;
  color: #80d8ff;
  border-radius: 0.1rem;
}*/
/*@mixin headline-button-hover-properties {
  background-color: white;
  border-color: black;
}*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  /*background-image: linear-gradient(
    to right,
    #e2e4e7,
    white,
    white,
    white,
    #e2e4e7
  );*/
  background-color: #00021f;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
}

.control-link {
  color: white;
  font-size: 1.5rem;
}

.head-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/conny-schneider-pREq0ns_p_E-unsplash.jpg);
  /*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);*/
}
.head-section__decoration-div {
  margin: 4rem auto 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}
.head-section__logo {
  width: 8rem;
  height: auto;
  border-radius: 0.5rem;
}
.head-section__headline {
  font-size: 2.7rem;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-weight: 200;
}
.head-section__developer-div {
  margin: 5rem;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00021f;
  border-radius: 0.2rem;
}
.head-section__description-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  margin-left: 10rem;
  padding: 1.5rem 2rem 1.5rem 3rem;
}
.head-section__h2-headline {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}
.head-section__focus-text {
  font-size: 2rem;
  color: white;
}
.head-section__text {
  font-size: 1.3rem;
  color: white;
  margin-top: -0.5rem;
}
.head-section__sozial-media-div {
  width: 25%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.head-section__sozial-media-img {
  width: 2.5rem;
}
.head-section__sozial-media-img--github-icon {
  width: 2.5rem;
  background-color: white;
  border: 0.3rem;
}
.head-section__link {
  width: 13rem;
}
.head-section__button {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  border: none;
  background-color: #006db5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 2.3rem;
  column-gap: 0.3rem;
  transition: ease-in-out;
  border-radius: 0.1rem;
}
.head-section__icon {
  width: 1.6rem;
  height: auto;
}
.head-section__button:hover {
  background-color: white;
  color: #039be5;
  text-decoration: none;
}
.head-section__portrait-div {
  width: 50%;
  height: 100%;
  padding-left: 7rem;
}
.head-section__img {
  border: 0.5rem solid #e0e0e0;
  border-radius: 0.2rem;
  box-sizing: border-box;
  border-color: white;
  border-width: 0.4rem;
  width: 15rem;
  height: auto;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  /*background-color: black;*/
  /*background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);*/
  /*.crm-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .four-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .three-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
  /*.crm-img {
    width: 55rem;
    height: auto;
    object-fit: cover;
    border-radius: 0.1rem;
  }*/
  /* &__img {
    width: 100%;
    height: auto;
    border-radius: 0.1rem;

    &--note-img {
      height: 30rem;
    }
  }*/
}
.project-section__h2-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.3rem;
  margin: 5rem auto 2rem auto;
  color: white;
}
.project-section__text {
  font-size: 1.7rem;
  margin: 3rem 0;
  color: white;
}
.project-section__project-div {
  margin: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
}
.project-section__crm-program, .project-section__italiner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.project-section__online-shop, .project-section__note-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-section__headline-left {
  font-size: 1.8rem;
  margin: 0 0 -3rem 15rem;
  color: white;
}
.project-section__headline-right {
  font-size: 1.8rem;
  margin: 0 0 -2.5rem 50rem;
  color: white;
}
.project-section__application-img-description-div-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.project-section__application-img-description-div {
  display: flex;
  flex-direction: row;
}
.project-section__application-description-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  row-gap: 2rem;
}
.project-section__application-description-left, .project-section__application-description-right {
  font-size: 1.3rem;
  color: white;
  line-height: 1.7rem;
}
.project-section__application-description-left {
  padding: 0 5rem 0 2.5rem;
}
.project-section__application-description-right {
  padding: 0 1rem 0 6.5rem;
}
.project-section__application-technology-div-left, .project-section__application-technology-div-right {
  display: flex;
  width: 100%;
  gap: 0.3rem;
}
.project-section__application-technology-div-left {
  margin-left: 2.5rem;
}
.project-section__application-technology-div-right {
  width: 40rem;
  margin-left: 6.5rem;
}
.project-section__application-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0086d0;
  border-radius: 0.5rem;
  padding: 2.5px 5px;
  font-size: 0.8rem;
  color: white;
}
.project-section__img-div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
  box-sizing: border-box;
}
.project-section__crm-carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.project-section__shop-carousel, .project-section__website-carousel, .project-section__note-carousel {
  width: 265px;
  margin: 0;
  overflow: hidden;
}
.project-section__crm-carousel-images, .project-section__shop-carousel-images, .project-section__website-carousel-images, .project-section__note-carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.project-section__crm-carousel-images img, .project-section__shop-carousel-images img, .project-section__website-carousel-images img, .project-section__note-carousel-images img {
  width: 100%;
  height: auto;
}
.project-section .carousel-button {
  transform: translateY(-50%);
  background-color: #006db5;
  color: white;
  border: none;
  font-size: 24px;
  /*padding: 10px;*/
  width: 2.1rem;
  height: 3.3rem;
  border-radius: 0.1rem;
}
.project-section__carousel-prev-button {
  margin-right: 1rem;
}
.project-section__carousel-next-button {
  margin-left: 1rem;
}
.project-section__shop-carousel-prev-button, .project-section__website-carousel-prev-button, .project-section__note-carousel-prev-button {
  margin-right: 5rem;
}
.project-section__shop-carousel-next-button, .project-section__website-carousel-next-button, .project-section__note-carousel-next-button {
  margin-left: 5rem;
}
.project-section .carousel-button:hover {
  background-color: white;
  color: #039be5;
}
.project-section .mobile-img {
  height: 30rem;
  border-radius: 0.1rem;
}
.project-section__button-div-left {
  display: flex;
  margin: -4rem 0 0 10rem;
  column-gap: 7rem;
  width: 30rem;
}
.project-section__button-div-right {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: -4rem 35rem 0 0;
  column-gap: 7rem;
  width: 100%;
}
.project-section__link {
  margin: 1rem 0;
  width: 10rem;
  height: 2rem;
}
.project-section__button {
  border: none;
  background-color: #006db5;
  color: white;
  font-size: 1.2rem;
  width: 14rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
}
.project-section__button:hover {
  background-color: white;
  color: #039be5;
}
.project-section__link:hover {
  text-decoration: none;
}

.technology-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 5rem 0;
  padding: 3rem 0;
  /*background-color: #0d154d;*/
  background-image: linear-gradient(rgba(13, 21, 77, 0.8), rgba(13, 21, 77, 0.8)), url(../img/file-FBqxiB5dq71L8nxe1RjhC2.webp);
  background-repeat: no-repeat;
  background-position: center;
  /**/
  /*border-radius: 0.2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15), 0 1px 10px rgba(0, 0, 0, 0.1);*/
  /*linear-gradient(
      rgba(13, 21, 77, 0.5),
      rgba(13, 21, 77, 0.5)
    ),

  */
}
.technology-section__h2-headline {
  margin: 1rem auto 2rem auto;
  font-size: 2.3rem;
  color: white;
}
.technology-section__technology-div {
  width: 90%;
  padding: 5rem 0;
}
.technology-section__top-div, .technology-section__bottom-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.technology-section__top-div {
  margin-bottom: 7rem;
  padding-right: 10rem;
  box-sizing: border-box;
}
.technology-section__markup-language-div, .technology-section__programming-language-div, .technology-section__framework-div, .technology-section__version-control-div, .technology-section__database-technology-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.technology-section__headline {
  font-size: 1.7rem;
  color: white;
  text-decoration: underline;
  text-align: center;
}
.technology-section__subdivision-div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.technology-section__html-div, .technology-section__css-div, .technology-section__scss-div, .technology-section__javascript-div, .technology-section__typescript-div, .technology-section__react-div, .technology-section__github-div, .technology-section__supabase-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.technology-section__text {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.technology-section__img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.technology-section__img {
  width: 9rem;
  height: 9rem;
}
.technology-section__img--github-icon {
  background-color: white;
  border-radius: 0.2rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  padding: 0 5%;
}
.contact-section__headline {
  font-size: 2rem;
  margin-top: 3rem;
  color: white;
}
.contact-section__contact-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  margin: 3rem 0;
  padding: 3rem 0;
}
.contact-section__question-headline {
  font-size: 1.5rem;
  margin: 1rem 0 0 5%;
  color: white;
}
.contact-section__text {
  margin: 3rem 0 0 5%;
  font-size: 1.3rem;
  color: white;
}
.contact-section__mail-address {
  margin: 1rem 0 1rem 5%;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: white;
}
.contact-section__icon {
  width: 1.7rem;
  height: auto;
  margin-right: 1rem;
  color: #039be5;
}
.contact-section__link {
  color: #039be5;
  font-size: 1.4rem;
}
.contact-section__sozial-media-div {
  margin: 1rem 0 0 5rem;
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.contact-section__sozial-media-img {
  width: 2.3rem;
}
.contact-section__sozial-media-img--github-icon {
  width: 2.3rem;
  background-color: white;
  border: 0.3rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.footer-section__impressum-copy-right-div {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-section__impressum-link {
  color: white;
}
.footer-section__copy-right {
  color: white;
}
.footer-section__to-top {
  font-size: 1rem;
  color: white;
  margin: 1rem 0 2rem 0;
}

.impressum-link {
  display: flex;
  align-items: center;
  color: white;
  margin: 3rem 0 0 7rem;
  font-size: 1.3rem;
}

.to-main-side-icon {
  width: 2rem;
  color: white;
}

.impressum-headline {
  margin: 7rem 0 2rem 0;
  text-align: center;
  color: white;
  font-size: 2.3rem;
}

.impressum-info-div {
  margin: 1rem auto 0 auto;
  text-align: center;
  width: 20rem;
  height: 10rem;
}

.impressum-legal-information {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.impressum-contact {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.impressum-name,
.impressum-adress,
.impressum-number,
.impressum-mail {
  color: white;
  font-size: 1.3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
}

.no-underline:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=websoftware.css.map */
